/* 地图容器样式控制 */
#map {
	width: 100%;
	height: 100%;
	position: absolute;
	
}

/* 放大缩小滚动条控制 */
.ol-zoomslider {
	top: 2.3em;
	background-color: transparent;
}
/* 缩小按钮位置控制 */
#map .ol-zoom-out {
	margin-top: 212px;
}

/* 复位按钮 */
#map .ol-zoom-extent{
	margin-top: 220px;
}

/* 鼠标显示经纬度 */
#mouse-position{
	float:left;
	position:absolute;
	bottom:10px;
	width:200px;
	height:20px;
	z-index:2000;
	left:150px;
}
.custom-mouse-position{
	color:red;
	font-size: 16px;
}

/* 鹰眼图样式 */
.ol-custom-overviewmap{
	bottom: auto;
	left:auto;
	top:275px;
	right:0;
}
/* 鹰眼图展开状态样式 */
.ol-custom-overviewmap:not(.ol-collapsed){
	border:1px solid black;
}
/* 鹰眼图展开状态按钮样式 */
.ol-custom-overviewmap:not(.ol-collapsed) button{
	bottom: auto;
	left:auto;
	right:0px;
	top:0px;
}
/* 鹰眼控件中地图容器样式 */
.ol-custom-overviewmap .ol-overviewmap-map{
	border: none;
	width: 300px;
}
/* 鹰眼空间鼠标拖动框样式 */
.ol-custom-overviewmap .ol-overviewmap-box{
	border: 2px solid red;
}
/* 按钮样式 */
#menu{
	float: left;
	position: absolute;
	bottom:10px;
	z-index: 2000;
	right:250px;
}
/* 图层控制 */
.layerControl{
	position:absolute;
	bottom:5px;
	min-width: 200px;
	max-height: 200px;
	right: 10px;
	top:40px;
	z-index: 2001;
	color:#ffffff;
	background-color: #4c4e5a;
	border-width: 10px;
	border-radius: 10px;
	border-color: #000 #000 #000 #000;
}

.layerControl .title{
	font-weight: bold;
	font-size: 15px;
	margin: 10px;
}

.layerControl li{
	list-style: none;
	margin: 5px 10px;
}
