#map {
	width: 100%;
	height: 100%;
	position: absolute;
}

.ol-zoomslider {
	top: 2.3em;
	background-color: transparent;
}

#map .ol-zoom-out {
	margin-top: 212px;
}

#map .ol-zoom-extent{
	margin-top: 210px;
}

#mouse-position{
	float:left;
	position:absolute;
	bottom:10px;
	width:200px;
	height:20px;
	z-index:2000;
	left:150px;
}
.custom-mouse-position{
	color:red;
	font-size: 16px;
}

#menu{
	float: left;
	position: absolute;
	bottom:10px;
	z-index: 2000;
	right:250px;
}

.layerControl{
	position:absolute;
	bottom:5px;
	min-width: 200px;
	max-height: 200px;
	right: 10px;
	top:5px;
	z-index: 2001;
	color:#ffffff;
	background-color: #4c4e5a;
	border-width: 10px;
	border-radius: 10px;
	border-color: #000 #000 #000 #000;
}

.layerControl .title{
	font-weight: bold;
	font-size: 15px;
	margin: 10px;
}

.layerControl li{
	list-style: none;
	margin: 5px 10px;
}
